<div class="bg-black text-white">
<div class="container">
 
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <p class="text-center fs-1 display-1 blockquote text-white">BEAUTY BRAND</p>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <p class="text-center fs-3 display-3 text-white">You will like to look like goddes every day!</p>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <p class="text-center fs-6 display-6 lead text-white ">BEAUTY BRAND BEAUTY PARLOUR WAS STARTED IN 2009 AND BRANDED IN THE INDUSTRY AND WAS REGISTERED AND TRADE MARKED IN THE YEAR OF 2015..Beauty Brand products combine botanical and advanced cosmeceutical ingredients with the Science of Beauty to bring you the ultimate in professional skincare in a retail form.</p>
          </div>
        </div>
      </div>

      <!-- <img src="../../../assets/images/contactus.webp" class="img-fluid" alt="..."> -->
    </div>
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/conctact2.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
      </div>

      <div class="container">
        
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px"> <iframe  width="500" height="500" src="https://maps.google.com/maps?q=thiruvalla&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe> </div>
            </div>
            <div class="col">
              <form>
                <div class="mb-3">
                  <h2>Contact Us</h2>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Enter your Name</label>
                    <input type="text" [(ngModel)]="cname" name="gname" class="form-control" id="exampleInputName" required>
                  </div>
                  <label for="exampleInputEmail1" class="form-label"> Enter your Email</label>
                  <input type="email" [(ngModel)]="cemail" name="gemail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                  <label for="exampleInputEmail1" class="form-label"> Enter your Phone Number</label>
                  <input type="text" [(ngModel)]="cphone" name="gphone" class="form-control" id="exampleInputCourse" aria-describedby="course" required>
                </div>
                
                <button type="submit" class="btn btn-secondary btn-outline-light" (click)="submit()"><b>Submit</b></button>
              </form>
            </div>
          </div>
        </div>

      </div>

      
    </div>