<div class="bg-black text-white">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/bridecaro.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
    </div>

    <div class="container  bg-black">
            <div class="row">
              <div class="col">
                <br><br><br><br><br>
                <img src="../../../assets/images/bride.jpeg" class="img-fluid" alt="..."  >
              </div>
              <div class="col">
                <br><br><br><br><br><br><br><br>
                <h3>About Bridal Service</h3>
                <p align="justify">You deserve to look your best on your wedding day! We believe that a perfect look will give the bride a boost of confidence on her wedding day. Being the best bridal beauty parlour in Cochin, we have a team of experienced hair and make-up artists who uphold the highest industry standards to serve you on your special day. We like creating stunning, natural makeup for brides. Makeup, we feel, should complement rather than conceal your inherent beauty. This ideology has helped us excel in the beauty industry. When a bride adores what we do, it is contagious, and we endeavor to offer our best to each and every bride.</p>
              </div>
            </div>
    </div>

    <div class="container  bg-black">
        <div class="row">
          <div class="col">
            <br><br><br><br><br>
            <p align="justify">Beauty Brand beauty parlour is famous for its bridal makeups .We offer a variety of services in our parlour. We are famous for our bridal makeup services. We are also one of the best beauty parlours in Kerela. Beauty Brand Group was established in 2015. We are one of the leading Beauty Parlour based in Thiruvalla, Kerala, India. We offer best services at reasonable costs. Our Services includes – Hair Cut ,Hairwash & Blowdry ,Highlights & Colouring ,Hair Forms ,Hair Spas ,Hair Treatments, Waxing (Classic,Rica),Reflexology ,Manicure/Pedicure ,Threading ,Bleach ,Facial ,Fresh Fruit Facials ,Mask ,Full Body Treatments ,Bridal Makeup ,Pre Bridal Packages .Providing client satisfaction is of utmost focus for us. Innovation and an unfailing commitment to the quality and customer satisfaction are the greatest strengths of our firm. It is our policy to maintain high standards in quality of service, which surpasses our client’s needs & expectations.</p>
            <p align="justify">We have well qualified & experienced personnel to provide quality service who will take care of the needs of our clients. You feel a Friendly place to have all you’re beauty needs taken care of talented professionals. We carry the finest beauty products and offer the largest selection of beauty services in the area. We offer skin, hair, makeup that caters to each client’s unique style and personality. Also visit pages in our website for new trends in the field and  https://www.cosmopolitan.com/style-beauty/beauty/g38539038/makeup-trends-2022/  We are famous for our bridal makeup services in Kerela. We always offer customizable packages for affordable price option. We use only branded hair and skin products for serving our customers. When you want to look your very best, trust us to take care of all your beauty needs.</p>
           </div>
          <div class="col">
            <br>
            <img src="../../../assets/images/chribride.jpg" class="img-fluid" alt="..."  >
          </div>
        </div>
    </div>

    <div class="container  bg-black">
        <div class="row">
          <div class="col">
            <br><br><br>
            <img src="../../../assets/images/musb.jpg" class="img-fluid" alt="..."  >
          </div>
          <div class="col">
            <br><br><br><br>
            <p align="justify">Bridal Make-up is our flagship offering. We provide High Definition make-up  for brides – that look good both during the wedding, as well as in pictures and videos. We undertake wedding day make-up for weddings of all religions – Christian, Hindu, Muslim, and North Indian Weddings.</p>
             <p align="justify">The bridal make-up includes complete, high-definition make-up for the face (and surrounding areas), as well as hair arrangement and hair setting. Saree draping (which is part of Kerala Hindu & Christian weddings) are also included in the package. This package can be customized as per one’s liking. If the client has any choices, suggestions, please feel free to mention this to Archana before booking – we’d be happy to include your suggestions and choices in the package.We offer a free trial when you book a wedding make-up. This is a special feature of this package, and you’ll get an idea of how your wedding look will be. You can also pass along suggestions which we’ll be happy to consider and implement.Hair and body accessories (mang tikas, waste bands, baju belts) etc are available with us on rent. Please let us know if you need any one among them for your wedding.</p>
             <p align="justify">This make-up is also intended for brides on events like an engagement function, or a sangeet. Whatever be the function, or whatever be the theme of the event, we can customize your make-up and your hair accordingly.Would you like to have a unique, funky look for your sangeet? Are you looking for the coy, traditional bride look for your engagement day? Or, would you rather go with a natural make-up look? Then this is the perfect package for you!Each function is unique, and the final look depends on a lot of factors. We are open to your suggestions, and would be happy to work with you to bring out that dream look – which will make you the star of your party!While trials are not part of the party make-up packages, we offer, we can consider them on a case-by-case basis – especially, if you have a unique look that needs additional work from our end.</p>
          </div>
        </div>
    </div>

   <br><br><br><br>
   <div class="container  bg-black ">
    <p class="text-center fs-2 text-bg-light text-black"> Book An Appointment NOW!...</p>
   </div>
        <div class="container  bg-black ">
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
              <a href="signup" class="btn btn-outline-light btn-lg">Click Here!</a>
              <!-- <a href="signup" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Click Here...!</a> -->
            </div>
          </div>  
        </div>

        <br><br><br>
        <!-- Carousel wrapper -->
  <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center text-white" data-mdb-ride="carousel">
    <!-- Controls -->
    <h4>Transforming Lives</h4>
    <h1>Our Client's says</h1>
    <div class="d-flex justify-content-center mb-4">
      <button class="carousel-control-prev position-relative" type="button"
        data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next position-relative" type="button"
        data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_140,h_140/https://cucumbabeautysalon.com/wp-content/uploads/2021/11/2018-05-30.png" class="img-fluid wp-post-image" alt="avatar"
                style="width: 150px;" />
                
              <h5 class="mb-3"><br>Maria Charles</h5>
              <p>Web Designer</p>
              <p class="text-white text-right" align="justify">
                
                <i class="fas fa-quote-left pe-2"></i>
                When I went to visit the salon for my bridal make up i was a little worried as I had scars on my face. But the expert Suman assured me about the quality of products and I absolutely loved the end result.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">John Doe</h5>
              <p>Musician</p>
              <p class="text-white"align=justify>
                <i class="fas fa-quote-left pe-2"></i>
                I have been going to Beauty Brand for many years. They create an atmosphere that feels welcoming and cheerful. The team at Beauty Brand is very jovial and takes pride in whatever they do. I love my hair cut and style every time I leave the place.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>
              <p class="text-white" align="justify">
                <i class="fas fa-quote-left pe-2"></i>
                The best color I had in my whole life. My heart was red! And I exactly got what I wanted! Thank you so much Beauty Brand for the beautiful shade u have given me.
              </p>
              <br>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="far fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->
  </div>
  <!-- Carousel wrapper -->




</div>
