 <!-- <img src="../../../assets/images/contactus.webp" class="img-fluid" alt="..." > -->
 <div class="bg-black text-white">
 <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/caro4.jpg" class="a-block w-100" alt="...">
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>

  <div class="container  bg-black">
    <div class="row">
      <div class="col">
        <br><br><br><br><br><br><br><br>
        <img src="../../../assets/images/about11.jpg" class="img-fluid" alt="..."  >
      </div>
      <div class="col">
        <h3 align="justify">BEAUTY BRAND BEAUTY PARLOUR WAS STARTED IN 2009 AND BRANDED IN THE INDUSTRY AND WAS REGISTERED AND TRADE MARKED IN THE YEAR OF 2015.</h3>
        <div class="text-bg-light p-4" align="justify">NOW BEAUTY BRAND BEAUTY PARLOUR IS ONE OF THE LEADING PROFESSIONAL UNISEX BEAUTY PARLOUR IN INDIA .</div>
        <p align="justify">We, Beauty Brand Beauty Parlour provides professional services with International products in the industry. Besides Our Services also include hair styling and beauty and make up with special studios equally  for  Bride and Groom in the best unisex beauty parlour .</p>
        <p align="justify">Providing client satisfaction is of utmost focus for Beauty Brand beauty parlour. Further our main focus is on Innovation and an unfailing commitment to the quality and customer satisfaction.  It is our policy to maintain high standards in quality of service, which surpasses our client’s needs & expectations.</p>
        <p align="justify">Being one of the finest hair salons in Kerala, Beauty Brand beauty parlour provides every kind of hairstyling services . Also includes women’s haircut, mens haircut, hair treatments, highlights, hair spas, and short hairstyles for women. We have an experienced and highly professional team of hairstylists who could make your hair flaunt fabulously. We make use of high-quality products and equipments only . </p>
        <p>Contact For more INFO  https://www.beautybrand.beauty/contact-us </p>
        <p> Check out our partners     http://www.neeth.com/</p>
       </div>
    </div>
  </div>
<br><br>
  <div class="container ">
    <div class="row">
      <div class="col">
        <div class="text-center">
        <h3>OUR TEAM</h3></div>
        <p align="justify">This Beauty Parlour is filled with professionaly  talented staff who are always working to improve, inspire and fulfill your beauty needs. Our expert stylists have been working in the salon industry for 10+ years, and they not only cut, colour and style hair, but they exemplify what it means to be a professional stylist. Moreover they are committed to learning new techniques and trends in the saloon industry in addition to their skills and what they pass along to their fellow stylists and clients. We also have a solely placed customer support for reviews and improvements in providing the best parlour experience</p>
      </div>
      <div class="col">
        <img src="../../../assets/images/crew.jpg" class="img-fluid" alt="..."  >
      </div>
    </div>
  </div>
<br><br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/makeup.jpg" class="card-img-top" alt="..." height="160">
            <div class="card-body bg-black text-white">
              <p class="card-text text-white fw-bold"> HD Makeup</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/manfacial.webp" class="card-img-top" alt="..." height="160">
            <div class="card-body bg-black text-white">
              <p class="card-text text-white fw-bold">Men & Women facial</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/pedi.webp" class="card-img-top" alt="..." height="160">
            <div class="card-body bg-black text-white">
              <p class="card-text text-white fw-bold">Spa</p>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>