<div class="bg-black text-white">

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/gaca.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
      </div>
<br><br><br><br><br>
      <div class="container text-center">
        <div class="row">
          <div class="col" *ngFor="let item of distdatabase">
            <div class="card" style="width: 20rem;">
                <img src="{{item.img}}" class="card-img-top" alt="..." width="200" height="400">
              </div>
          </div>
        </div>
      </div>
    

      

</div>