<div class="bg-black text-white">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner ">
          <div class="carousel-item active height:300px">
            <img src="../../../assets/images/caro1.png" class="d-block w-100 " alt="...">
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
      </div>
<BR><BR><BR><BR>
      <div class="container text-center">
        <div class="row ">
          <div class="col ">
            <div class="card bg-black text-white" style="width: 18rem;">
                <img src="../../../assets/images/bridalca.jpeg" class="card-img-top" alt="..." height="160">
                <div class="card-body">
                  <h5 class="card-title">BRIDAL WEDDING PACKAGE</h5>
                  <a href="bridepage" class="btn btn-outline-light">Click Here!</a>
                </div>
              </div>
          </div>
          <div class="col">
          <div class="card bg-black text-white" style="width: 18rem;">
            <img src="../../../assets/images/hair.jpg" class="card-img-top" alt="..." height="160">
            <div class="card-body">
              <h5 class="card-title">HAIR</h5>
              <a href="hairpage" class="btn btn-outline-light">Click Here!</a>
            </div>
          </div>
          </div>
          <div class="col">
            <div class="card bg-black text-white" style="width: 18rem;">
              <img src="../../../assets/images/nail.jpg" class="card-img-top" alt="..." height="160">
              <div class="card-body">
                <h5 class="card-title">NAILS</h5>
                <a href="nailpage" class="btn btn-outline-light">Click Here!</a>
              </div>
            </div>
            </div>
            <div class="col">
                <div class="card bg-black text-white" style="width: 18rem;">
                  <img src="../../../assets/images/skin.jpg" class="card-img-top" alt="..." height="160">
                  <div class="card-body">
                    <h5 class="card-title">SKIN</h5>
                    <a href="skinpage" class="btn btn-outline-light">Click Here!</a>
                  </div>
                </div>
                </div>
          <div class="col">
            <div class="card bg-black text-white" style="width: 18rem;">
                <img src="../../../assets/images/makeov.jpg" class="card-img-top" alt="..." height="160">
                <div class="card-body">
                  <h5 class="card-title">MAKEOVER</h5>
                  <a href="makeoverpage" class="btn btn-outline-light">Click Here!</a>
                </div>
              </div>
          </div>
          <div class="col">
                <div class="card bg-black text-white" style="width: 18rem;">
                  <img src="../../../assets/images/styling.jpg" class="card-img-top" alt="..." height="160">
                  <div class="card-body">
                    <h5 class="card-title">STYLING</h5>
                    <a href="styling" class="btn btn-outline-light">Click Here!</a>
                  </div>
                </div>
                </div>
            <div class="col">
                    <div class="card bg-black text-white" style="width: 18rem;">
                      <img src="../../../assets/images/groom.jpg" class="card-img-top" alt="..." height="160">
                      <div class="card-body">
                        <h5 class="card-title">GROOM WEDDING PACKAGE</h5>
                        <a href="groom" class="btn btn-outline-light">Click Here!</a>
                      </div>
                 </div>
                </div>
                <div class="col">
                  <div class="card bg-black text-white" style="width: 18rem;">
                    <img src="../../../assets/images/spaaa.jpeg" class="card-img-top" alt="..." height="160">
                    <div class="card-body">
                      <h5 class="card-title">SPA</h5>
                      <a href="spapage" class="btn btn-outline-light">Click Here!</a>
                    </div>
               </div>
              </div>
              <div class="col">
                <div class="card bg-black text-white" style="width: 18rem;">
                  <img src="../../../assets/images/th&wax.jfif" class="card-img-top" alt="..." height="160">
                  <div class="card-body">
                    <h5 class="card-title">THREADING & WAXING</h5>
                    <a href="threadpage" class="btn btn-outline-light">Click Here!</a>
                  </div>
             </div>
            </div>
        </div>
      </div>

      
      <br><br><br>
      <!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center text-white" data-mdb-ride="carousel">
  <!-- Controls -->
  <h4>Transforming Lives</h4>
  <h1>Our Client's says</h1>
  <div class="d-flex justify-content-center mb-4">
    <button class="carousel-control-prev position-relative" type="button"
      data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next position-relative" type="button"
      data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_140,h_140/https://cucumbabeautysalon.com/wp-content/uploads/2021/11/2018-05-30.png" class="img-fluid wp-post-image" alt="avatar"
              style="width: 150px;" />
              
            <h5 class="mb-3"><br>Maria Charles</h5>
            <p>Web Designer</p>
            <p class="text-white text-right">
              
              <i class="fas fa-quote-left pe-2"></i>
              When I went to visit the salon for my bridal make up i was a little worried as I had scars on my face. But the expert Suman assured me about the quality of products and I absolutely loved the end result.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">John Doe</h5>
            <p>Musician</p>
            <p class="text-white">
              <i class="fas fa-quote-left pe-2"></i>
              I have been going to Beauty Brand for many years. They create an atmosphere that feels welcoming and cheerful. The team at Beauty Brand is very jovial and takes pride in whatever they do. I love my hair cut and style every time I leave the place.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li>
                <i class="fas fa-star-half-alt fa-sm"></i>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Maria Kate</h5>
            <p>Photographer</p>
            <p class="text-white">
              <i class="fas fa-quote-left pe-2"></i>
              The best color I had in my whole life. My heart was red! And I exactly got what I wanted! Thank you so much Beauty Brand for the beautiful shade u have given me.
            </p>
            <br>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              <li><i class="far fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">John Doe</h5>
            <p>UX Designer</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
              officiis hic tenetur quae quaerat ad velit ab hic tenetur.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Alex Rey</h5>
            <p>Web Developer</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
              suscipit laboriosam, nisi ut aliquid commodi.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li>
                <i class="fas fa-star-half-alt fa-sm"></i>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(5).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Maria Kate</h5>
            <p>Photographer</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti atque corrupti.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="far fa-star fa-sm"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Anna Deynah</h5>
            <p>UX Designer</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
              officiis hic tenetur quae quaerat ad velit ab hic tenetur.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(8).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">John Doe</h5>
            <p>Web Developer</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
              suscipit laboriosam, nisi ut aliquid commodi.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li>
                <i class="fas fa-star-half-alt fa-sm"></i>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(7).webp" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Maria Kate</h5>
            <p>Photographer</p>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              praesentium voluptatum deleniti atque corrupti.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="far fa-star fa-sm"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->


</div>
