<div class="bg-black text-white">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/haircaro.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
    </div>

    <div class="container  bg-black">
        <div class="row">
          <div class="col">
            <br><br><br><br><br>
            <img src="../../../assets/images/hair4.jpg" class="img-fluid" alt="..."  >
          </div>
          <div class="col">
            <br><br><br><br><br><br><br><br>
            <h3>About Hair Service</h3>
            <p align="justify">A new hairstyle or hair color can redefine your look. Flaunt your hair with a hair cut, hair styling, hair coloring, or even a relaxing hair spa treatment from Beauty Brand. Your search for the best hair spa in Thiruvalla ends here! Our expert hairstylists are here to bring the best out of your hair by making use of high-quality products to treat your hair and give you the look that you’ve always desired. Being rated as the best hair salon in Thiruvalla for ladies,gentes and for kids, you can experience a peaceful and relaxing environment at Beauty Brand, and at the same time, enjoy unmatched access to unique hair treatments and services at the most affordable price range.</p>
          </div>
        </div>
    </div>

    <br><br><br><br>
   <div class="container  bg-black ">
    <p class="text-center fs-2 text-bg-light text-black"> Book An Appointment NOW!...</p>
   </div>
        <div class="container  bg-black ">
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
              <a href="signup" class="btn btn-outline-light btn-lg">Click Here!</a>
              <!-- <a href="signup" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Click Here...!</a> -->
            </div>
          </div>  
        </div>

        
        <br><br><br>
        <!-- Carousel wrapper -->
  <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center text-white" data-mdb-ride="carousel">
    <!-- Controls -->
    <h4>Transforming Lives</h4>
    <h1>Our Client's says</h1>
    <div class="d-flex justify-content-center mb-4">
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_140,h_140/https://cucumbabeautysalon.com/wp-content/uploads/2021/11/2018-05-30.png" class="img-fluid wp-post-image" alt="avatar"
                style="width: 150px;" />
                
              <h5 class="mb-3"><br>Maria Charles</h5>
              <p>Web Designer</p>
              <p class="text-white text-right" align="justify">
                
                <i class="fas fa-quote-left pe-2"></i>
                When I went to visit the salon for my bridal make up i was a little worried as I had scars on my face. But the expert Suman assured me about the quality of products and I absolutely loved the end result.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">John Doe</h5>
              <p>Musician</p>
              <p class="text-white" align="justify">
                <i class="fas fa-quote-left pe-2"></i>
                I have been going to Beauty Brand for many years. They create an atmosphere that feels welcoming and cheerful. The team at Beauty Brand is very jovial and takes pride in whatever they do. I love my hair cut and style every time I leave the place.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>
              <p class="text-white" align="justify">
                <i class="fas fa-quote-left pe-2"></i>
                The best color I had in my whole life. My heart was red! And I exactly got what I wanted! Thank you so much Beauty Brand for the beautiful shade u have given me.
              </p>
              <br>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="far fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->
  </div>
  <!-- Carousel wrapper -->


</div>
