<div class="bg-black text-white">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/tn.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
    </div>

    <div class="container  bg-black">
        <div class="row">
          <div class="col">
            <br><br>
            <img src="../../../assets/images/thr.jpg" class="img-fluid" alt="..."  >
          </div>
          <div class="col">
            <br><br><br><br>
            <h3>About THREADING Service</h3>
            <p align="justify">The process is done by a trained technician who entwines two long pieces of 100% cotton thread held in the mouth on one end, while the other end is swiftly rolled over and around unwanted hairs to cleanly and quickly remove them from the follicle root.</p>
            <p> No hot wax or harsh chemicals are used during the threading process, which makes it ideal for clients with sensitive skin. Clients are encourage to not let hairs get too long between sessions to reduce pain during removal.</p>
            <p>Typical results can last up to  3-4 weeks.</p>
          </div>
        </div>
    </div>

    <div class="container  bg-black">
        <div class="row">
          <div class="col">
            <br><br><br><br>
            <h3>About WAXING Service</h3>
            <p align="justify">Waxing is a semi-permanent means of hair removal with results that can last up to six weeks (depending on your hair growing cycle). Waxing is ideal for the face, arms, legs, and large areas like the back, or bikini line. </p>
            <p>This process involves applying warm (not hot) wax to the treatment area.  Hair needs to be a little longer for waxing than it does for threading.  Longer hair adheres more securely to the linen strips that are used to quickly remove waxed hair from the desired location.</p>
            <p>Over time - with repeated treatment - hair in the treatment area should become thinner and may eventually not continue to grow.</p>
            <h4>Our Features</h4>
            <p>Chocolate or Honey Waxing</p>
            <p>Brazilian Waxing</p>
            </div>
             <div class="col">
                   <br><br><br><br>
                    <img src="../../../assets/images/wa.jpg" class="img-fluid" alt="..."  >
              </div>
        </div>
    </div>

    <br><br><br><br>
   <div class="container  bg-black ">
    <p class="text-center fs-2 text-bg-light text-black"> Book An Appointment NOW!...</p>
   </div>
        <div class="container  bg-black ">
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
              <a href="signup" class="btn btn-outline-light btn-lg">Click Here!</a>
              <!-- <a href="signup" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Click Here...!</a> -->
            </div>
          </div>  
        </div>

        <br><br><br>
        <!-- Carousel wrapper -->
  <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center text-white" data-mdb-ride="carousel">
    <!-- Controls -->
    <h4>Transforming Lives</h4>
    <h1>Our Client's says</h1>
    <div class="d-flex justify-content-center mb-4">
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_140,h_140/https://cucumbabeautysalon.com/wp-content/uploads/2021/11/2018-05-30.png" class="img-fluid wp-post-image" alt="avatar"
                style="width: 150px;" />
                
              <h5 class="mb-3"><br>Maria Charles</h5>
              <p>Web Designer</p>
              <p class="text-white text-right" align="justify">
                
                <i class="fas fa-quote-left pe-2"></i>
                When I went to visit the salon for my bridal make up i was a little worried as I had scars on my face. But the expert Suman assured me about the quality of products and I absolutely loved the end result.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">John Doe</h5>
              <p>Musician</p>
              <p class="text-white" align="justify">
                <i class="fas fa-quote-left pe-2"></i>
                I have been going to Beauty Brand for many years. They create an atmosphere that feels welcoming and cheerful. The team at Beauty Brand is very jovial and takes pride in whatever they do. I love my hair cut and style every time I leave the place.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>
              <p class="text-white" align="justify">
                <i class="fas fa-quote-left pe-2"></i>
                The best color I had in my whole life. My heart was red! And I exactly got what I wanted! Thank you so much Beauty Brand for the beautiful shade u have given me.
              </p>
              <br>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="fas fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
                <li><i class="far fa-star fa-sm"><img src="../../../assets/images/star.jpg" class="img-fluid" alt="..." height="35" width="35"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->
  </div>
  <!-- Carousel wrapper -->

</div>


